<!DOCTYPE html>
<html ng-app="app">
<head>
  <title><%= settings.title %></title>
  <meta charset="UTF-8">
  <%= bootstrap_assets %>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="components/angular/angular.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1><%= settings.title %> <small>updated at <%= Time.now.strftime("%Y-%m-%d %H:%M") %></small></h1>
      <%= yield %>
    </div>
  </div>
</div>
<a href="https://github.com/MMore/placetel-phonebook"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
</body>
</html>
